.header{
    text-align: center;
}
.header img{
    height: 80px;
}
.header nav{
    background-color:rgb(23, 110, 139);
    line-height: 50px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(73, 170, 141);
}